.card-term{
    margin-top: 50px;
    margin: 2rem;
    border-radius: 20px;
}
.card-term-heading{
  color: #327f8c !important;
}
p {
  line-height: 1.8;
}
.main-term
{
   background-color: rgb(237, 235, 235);
}