.card {
  border-radius: 20px;
  background-color: #ffffff;
}

h2 {
  font-weight: bold;
}
.hire-button
{
  display: block;
  margin: 1.5rem auto 0;
  background-color: #fca652 !important;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.hire-button:hover {

  background-color: #e28c3d !important;
  color: #e0e0e0;
}
.head-hire
{
     color: #327f8c !important;
}
.main-hire
{
     background-color: rgb(237, 235, 235);
}