.gallery-page {
  padding: 2rem 0;
  background-color: #f8f9fa;
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-img:hover {
  transform: scale(1.05);
}
.gallery-card
{
    margin: 20px;
    border-radius: 50px;
}
