body {
  background-color: #f9f9f9;
}

.ticket-card {
  border-radius: 12px;
  margin-left: 3rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
}

button {
  font-size: 0.8rem;
}
.head-manage
{
    color: #327f8c !important;
    background-color: #e7e3c9;
    padding: 5px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 10px 10px 0 0;
}
.search-ticket
{
  max-width: 50%;
  align-items: center;
  margin: 1.5rem ;
}
.manage-container
{
  background-color: rgb(237, 235, 235);
}