.img {
  max-width: 7rem;
  max-height: 7rem;
  margin-left: 1rem;
}
.navhead {
  background-color: #eae9d3 !important; 
  z-index: 1030;
}

.spacing {
  margin-right: 0.5rem;
}

.navbg {
  color: #327f8c !important;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbg:hover {
  background-color: #e5e4cc;
  color: #45929f !important;
}


